
/*a.command{
    text-decoration:none;
    background-color:rgb(205,190,180);  margin: 0; margin-left: 2px;
    padding: 2px; padding-left: 16px; padding-right: 3px;
    border:  1px darkolivegreen;  border-right: 3px ridge darkolivegreen; border-bottom: 2px ridge darkolivegreen; 
}

a.command:hover{
   background-color:rgb(160,160,160); color:  rgb(251,251,251);   border-right: 3px ridge darkolivegreen; border-bottom:3px ridge darkolivegreen; 
}

.command{
    background-repeat: no-repeat; background-position: 0% 40%; padding: 0 4px 0 16px; margin-left: 2px; height: 21px;
}*/

/***** Icons *****/
/*.icon {
background-position: 0% 40%;    
background-repeat: no-repeat;
padding-left: 20px;
padding-top: 2px;
padding-bottom: 3px;
}

.icon-navigator {
background-position: 0% 40%;    
background-repeat: no-repeat;
margin: 0;
padding:3px 0px 0px 12px;
}*/

.ikon-hint {
    background-position: 1% 40%;    
    background-repeat: no-repeat;
    margin: 0 0 0 2px;
    padding:0 0 0 16px;    
    vertical-align: top;
}

.list-ikon {
    background-position: right center;    
    background-repeat: no-repeat;
    padding: 0;
}

/*.icon-edit     { background-image: url(../../images/icon/edit.png); }*/
/*.icon-del      { background-image: url(../../images/icon/delete.gif); }*/
.icon-move     { background-image: url(../../images/icon/move.png); }
.icon-save     { background-image: url(../../images/icon/save.png); }
.icon-cancel   { background-image: url(../../images/icon/cancel.png); }
/*.icon-print    { background-image: url(../../images/icon/print.gif); }*/
.ikon-info     { background-image: url(../../images/icon/hint-info.png); }
.ikon-error    { background-image: url(../../images/icon/hint-error.png); }

.ikon-filter   { background-image: url(../../images/icon/filter.gif); }
.ikon-sort-asc { background-image: url(../../images/icon/sort-asc.png); }
.ikon-sort-desc{background-image: url(../../images/icon/sort-desc.png); }

/*.icon-navigator-first{background-image: url(../../images/icon/navigator-first.png); }
.icon-navigator-back {background-image: url(../../images/icon/navigator-back.png); }
.icon-navigator-next {background-image: url(../../images/icon/navigator-next.png); }
.icon-navigator-last {background-image: url(../../images/icon/navigator-last.png); }

.icon-navigator-first:hover{background-image: url(../../images/icon/navigator-hover-first.png); }
.icon-navigator-back:hover {background-image: url(../../images/icon/navigator-hover-back.png); }
.icon-navigator-next:hover {background-image: url(../../images/icon/navigator-hover-next.png); }
.icon-navigator-last:hover {background-image: url(../../images/icon/navigator-hover-last.png); }*/

/*.command-get,    .command-search {background-image: url(../../images/icon/get.png); }
.command-save,   .command-update {background-image: url(../../images/icon/save.png); }
.command-insert, .command-new    {background-image: url(../../images/icon/insert.png); }
.command-back  {background-image: url(../../images/icon/back.png); }
.command-print {background-image: url(../../images/icon/print.gif);}*/

/* .command-back:before {
    content: '\e013';
 }
 .command-insert:before, command-new:before {
    content: '\e040';
 }
 .command-get:before, .command-search:before {
    content: '\e074';
  }
  
 .command-save:before, .command-update:before {
    content: '\e060';
 }
 .command-print {
    background-position: -96px -48px;
 }*/