/* css para menu */
/* usado para o menu construído pelo método render na classe Menu*/


div.menu-item {
    padding: 0; 	margin: 0;	margin-right: 2px;
    height:18px; border: 1px solid rgb(193,193,193);  
/*    background-image:url(../../images/linha_menu.jpg);*/
    color: white; font: 10px/17px Arial, Helvetica, sans-serif; text-align: left;
}

.menu-item{margin-left:3px;}

#submenu-hint{height:5em; padding:0px 1px 0px 1px; margin: 0px; color:#333333; filter:alpha(opacity=0); border-top:1px solid rgb(100,90,100); font: 9px Arial, Helvetica, sans-serif;}

/* para quando aparece os itens de dropdown*/
div.dropdown_menu{visibility: hidden; background-color: rgb(205,245,185);}

#submenu{position: absolute; border:1px solid rgb(120,150,120); font: 10px/17px Arial, Helvetica, sans-serif; line-height:12px; z-index:100;}

#submenu a{font: 10px/17px Arial, Helvetica, sans-serif; padding: 0px; padding-left: 4px; display: block; color: #000;
           text-decoration: none; text-align: left;	border-left: 5px solid rgb(120,150,120);
       }
#submenu a:hover{ /*hover background color*/
	background-color: rgb(180,220,180);
	color: #000;
	font-weight:bold;
	text-decoration:underline;
	border-left: 5px solid rgb(50,180,50);
}
.wrap_sidebar_link{font: 12px Arial, Helvetica, sans-serif; padding: 4px 0 0 19px; display: block; color: #000;
           text-decoration: none; text-align: left;height:18px;	
/*           border-left: 6px solid rgb(120,150,120); background-color: rgb(205,245,185);*/
       }    
.wrap_sidebar_link a{
           text-decoration: none; color: #000;
       }        
.wrap_sidebar_link:hover{ /*hover background color*/
	background-color: rgb(180,220,180);
	color: #000;
	font-weight:bold;
	text-decoration:underline;
	border-left: 11px solid rgb(50,180,50);
        padding-left: 8px; 
}       
