@charset "utf-8";
/*
    Author     : P000942 - José Geraldo Ferreira Gomes
*/
@import url('ui/sidebar.css') screen;
@import url('ui/tabs.css') screen;
@import url('ui/page.css') screen;
:root {
    --bg-color-fildset: rgba(246,255,250,0.9);
    --bg-color-page:rgba(246,255,250,0.5)
    --bg-color-legend: rgba(246,255,250,0.01);
    --bg-header: rgba(120,180,120,0.5);
    --bg-sidebar-item: rgba(246,255,250,0.5);
    --border-sidebar-item: rgb(200, 220, 220);
    --bg-sidebar-hover: rgb(110, 160, 110);
    --bg-sidebar-menu: rgb(210, 245, 210); 
    --color-line: rgb(120,150,120);
    --border: rgb(120,150,120);
}
/* Clear Floated Elements */
.clearfix:before, .clearfix:after {content: "\0020";
         display: block; height: 0; visibility: hidden;}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/*----------hgroup, menu----------*/

header, nav, article, footer, address { display:block; }
header, footer {clear:both; }
/*#content_section{background-color: #d2f0be;}*/
.header {
	width:100%;
        margin:0px auto 0px auto;
        position:relative;
}

* {margin: 0; padding: 0;}
body{
	margin: 0 auto;
	text-align: left;
	font-family: Verdana, Helvetica, Arial, Serif;
	line-height: 1.5em;
}
.page {
    width:100%;
    margin-bottom: 20px;
    border:1px solid black;
    background-color: var(--bg-color-page);
}
#content{
    min-height: 700px;
}
#content_section{
    padding-left: 0px;
}

/* Estilo para a figura t�tulo da pagina */
.top-left {
    background-image:url(../images/layout/topo-am.png);
    background-repeat: no-repeat;
    height: 64px;
    float: left;
    display: inline-block;
}

.menubar, .footer#Sefaz {
    background-image:url(../images/layout/linha.jpg);
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: White;
    text-align: center;
    }
/*--------------------*/
.menubar{height: 24px}
