@charset "utf-8";
/*
    Document   : layout
    Created on : May 17, 2011, 3:37:30 PM
    Author     : P000942 - José Geraldo Ferreira Gomes
    Description:
        Purpose of the stylesheet follows.
       @import url('ui/menu.css') screen;
*/
/* @import url('ui/icon.css') screen; */
/* @import url('ui/message.css') screen; */
@import url('ui/sidebar.css') screen;
@import url('ui/tabs.css') screen;
@import url('ui/page.css') screen;
/* Clear Floated Elements */
.clearfix:before, .clearfix:after {content: "\0020";
         display: block; height: 0; visibility: hidden;}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
/*----------hgroup, menu----------*/

header, nav, article, footer, address { display:block; }
header, footer {clear:both; }
/*#content_section{background-color: #d2f0be;}*/
.header {
	width:100%;
        margin:0px auto 0px auto;
        position:relative;
}

* {margin: 0; padding: 0;}
body{
	margin: 0 auto;
	text-align: left;
	font-family: Verdana, Helvetica, Arial, Serif;
	line-height: 1.5em;
}
.page {
    width:100%;
    margin-bottom: 20px;
    border:1px solid black;
    background-color: rgba(246,255,250,0.5);
}
#content{
    /* margin: 0 152px 0 255px; */
    min-height: 700px;
}
#content_section{
    padding-left: 0px;
}

#nav-left {
    float:left;
    width:300px;
    margin:1px;
    padding: 12px 2px 1px 3px;
 }

#nav-right{
    width: 150px;
    float: right; clear: both;
}

/* Estilo para a figura t�tulo da pagina */
/*.cabecalho#Pag {
	background-image:url(../images/layout/titulo.gif);
	cursor:pointer;  Coloque o caminha para a pasta de imagens
	height:83px;
}*/

.top-left {
    background-image:url(../images/layout/topo-am.png);
    background-repeat: no-repeat;
    height: 64px;
    float: left;
    /* width:150px; */
    display: inline-block;
}

.top-center {
    height: inherit;
    margin: 0 0 0 154px;
    padding: 20px 10px 4px 40px;
    vertical-align:middle;
    max-width: 500px;
    display: inline-block;
}

.top-right {
    height: inherit;
    padding-top: 18px;
    padding-right: 4px;
    float: right;
    width:  300px;
    display: inline-block;
    vertical-align: middle;
}
.header-top {
    position: relative;
    display: inline-block;
    background:white;
/*    position: relative;*/
/*vertical-align:middle;*/
    height: 64px;
    width: 100%;
/*	color:rgb(10,80,10);
        height:63px;
	font-family:Verdana, Arial, Helvetica;
	font-size:18px;
	font-weight:bold;    	padding-left:200px;*/
}

.menubar, .footer#Sefaz {
    background-image:url(../images/layout/linha.jpg);
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: White;
    text-align: center;
    }
/*--------------------*/
.menubar{height: 24px}
