div.header{position:relative; 
	font-family: serif;
        margin: 0;
	width:100%; border-bottom:0.3mm solid; 
}

div.header-logo-right{
	position:absolute; padding-top:0.3mm;
        background: url(../../images/report/sfz.png) no-repeat; 
	right:0; width:15mm;
        height:12.0mm;
        border:0; 
}

div.header-logo-left{ 
	position:absolute; padding-top:0.3mm;
        background: url(../../images/report/am.jpg) no-repeat;
	left:0; width:15mm; 
        height:12.0mm;border:0;
}

div.header-title{ 
	position:absolute;  
	margin:0; padding:0;
	left:15mm; right:15mm; height:12.3mm; 
        text-align:center;
}

label.header-title1{ font-size:10pt; font-weight:bold; }
label.header-title2{ font-size:9pt; font-weight:bold; }
label.header-title3{ font-size:10pt; padding-bottom: 1pt; line-height: 16px;}

.header-detail-wrap {position:relative;
	width:100%;  
	padding:0; margin: 0;
    border:0.3mm solid;
    border-right: 0; border-left: 0;
	font-size:8pt; text-align: left; font-weight:bold;
	background-color:#FFFAFF;	
}

.header-detail-wrap > ul, .detail-column-wrap > ul { 
	  margin: 0;
	 padding: 0;
  list-style: none;      
}

.header-detail-wrap > ul > li, .detail-column-wrap  > ul > li { 
    position:absolute; 
     padding:0; margin:0; 
     display: inline-block;
    *display: inline;    
  }
.header-detail-wrap > ul > li { 
    border-right-width: 0.3mm; 
    border-right-style: solid;    
}

.header-detail-wrap > ul > li > a, .detail-column-wrap > ul > li > a { 
    padding-left:0.75mm; 
    padding-right:0.75mm;
    display: inline;
}

.header-detail-wrap > ul > li > a { 
    text-shadow: 0 2px 1px rgba(100, 100, 100, 0.5);
}

.header-detail-wrap > ul > li:last-child { 
    border-right: 0;
    border-right-style: none;
}
