div.detail {position:relative;
	 width:100%; padding:0  ; margin:0; 
	 background-color:#FFFFFF; 
         font-size:8pt; text-align: left; border:1px solid transparent;
}


.detail-column-wrap {
	position:relative;
	width:100%; 
	padding:0; margin:0; display:block;
        border:0.3mm transparent;
	background-color: green; 
	vertical-align: top;
}
/*
div.detail-column{
      position:absolute; border:0;padding:0; 
}
span.detail-column{ 
      padding-left:0.75mm; padding-right:0.75mm;     
}*/