div.footer {position:relative;
	width:100%;
	padding:0; margin:0; 
        border:0.3mm solid;
	font-size:8pt; text-align: center; background-color:white;
	height: 3.5mm; line-height: 3.5mm;
}

div.footer-date, div.footer-hour, 
div.footer-page, div.footer-position, div.footer-note {
        position:absolute; padding:0px;
}

div.footer-date{left:0px; border-right:0.3mm solid; width:60pt;}

div.footer-hour{left:60pt;border-right:0.3mm solid; width:50pt; }

div.footer-page{right:0px; border-left:0.3mm solid; width:60pt;}

div.footer-position{right:60pt; border-left:0.3mm solid; width:86pt;}

div.footer-note {left:114pt; text-align:left; }
