/* 
    Document   : message
    Created on : Aug 11, 2011, 11:37:38 AM
    Author     : p000942
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*
.hide{
    margin-top:-2px; margin-left:3px; margin-right: 3px;
    float: left; cursor: pointer; width:16px; height:16px;
    background: url(../img/icones/hide.png)  no-repeat center;
}
.show{
    margin-top:-2px; margin-left:3px; margin-right: 3px;
    float: left; cursor: pointer; width:16px; height:16px;
    background: url(../img/icones/show.png) no-repeat center;
}
 Formata��o de estilo para ERRO, INFO e DEBUG 

div.debug {
	background-color: yellow;
	color:red;
	border: 2px solid red;
	padding: 1px;
	font-size: 12px;
}

.tip {
	position: absolute;
	background-color: #FFFF66;
	color: blue;
	font-weight: normal;
	border: 1px dashed rgb(18,118,106);
	border-top: 3px solid rgb(18,118,106);
	border-left: 3px solid rgb(18,118,106);
	padding: 3px;
	font-size: 12px;
}*/

/* .hint{  
        position:absolute;
        top: 0;
        background-color: lightyellow;
        background-color: rgba(255,255,230,0.94);
        width: 250px;  
        padding: 6px 2px 2px 2px;
        border:1px solid black;
        font:normal 11px Verdana;
        line-height:18px;
        z-index:100;
        visibility: hidden;
        background-position: 0% 40%;    
        background-repeat: no-repeat;
        padding-left: 44px;        
        text-align: left;
        border-radius:10px;    
}
 */

/* .hint-info {  
	color:darkolivegreen;
	border-color:yellowgreen;
        box-shadow: 4px 8px 8px -6px darkolivegreen;   
        background-image: url(../../images/icon/hint-info-balloon.png);
}   

.hint-error {
	color:crimson;
	border-color:red;
        box-shadow: 4px 8px 8px -6px red;   
        background-image: url(../../images/icon/hint-error-balloon.png);
}   */ 

/* .tip_erro {
	position: absolute;
	background-color: #FFC1C1;
	color: black;
	font-weight: normal;
	border: 1px dashed red;
	border-top: 3px solid red;
	border-left: 3px solid red;
	padding: 3px;
	font-size: 12px;
} */

/*==================== Mensagens ========================*/

/* .msg {
	text-align:left;
	font-weight:bold;
	font-size:12px;
	padding-left: 60px;
	padding-top:3px;
	width:70%;
	margin: 0 auto; margin-top:5px;
} */

/* .ok {
	color:rgb(18,118,106);
	background:url(../img/alerts/ok.gif) no-repeat left;
	border-top:16px solid rgb(0,60,0);
	border-left:1px solid rgb(18,118,106);
	border-right:1px solid rgb(18,118,106);
	border-bottom:4px solid rgb(18,118,106);
}

.error, .critical, .warning {
	color:red;
	background:url(../img/alerts/messagebox_warning.gif) no-repeat left;
	border-top:16px solid rgb(60,0,0);
	border-left:1px solid rgb(118,90,90);
	border-right:1px solid rgb(118,90,90);
	border-bottom:4px solid rgb(118,90,90);
}

.critical {
	color:red;
	background:url(../img/alerts/messagebox_critical.gif) no-repeat left;
	border-top:16px solid rgb(60,0,0);
	border-left:1px solid rgb(118,90,90);
	border-right:1px solid rgb(118,90,90);
	border-bottom:4px solid rgb(118,90,90);
} */
